<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            width: 35%; /* Ширина таблицы */
            background: white; /* Цвет фона таблицы */
            color: rgba(8, 20, 59, 1); /* Цвет текста */
            border-spacing: 1px; /* Расстояние между ячейками */
        }
        td, th {
            background: rgba(116, 204, 255, 0.35); /* Цвет фона ячеек */
            padding: 5px; /* Поля вокруг текста */
        }
        h1 {
            color: rgba(8, 20, 59, 255);
        }

    </style>
</head>
<body>
<br>
<h1>Your information</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tbody>
    <tr>
        <td th:utext="${user.id}"></td>
        <td th:utext="${user.username}"></td>
        <td th:utext="${user.surname}"></td>
        <td th:utext="${user.email}"></td>
        <td th:utext="${user.roles}"></td>
    </tr>
    </tbody>
    </table>
    <br><br>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Sign Out</button>
    </form>
</body>
</html>