<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>create user</title>
</head>
<body>
<form action="#" th:action="@{/admin/create}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{username}" id="name" placeholder="name">
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="surname">
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="age">
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="email">
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
<!--    <label for="roles">Role</label>-->
<!--    <input type="text" th:field="*{roles}" id="roles" placeholder="roles">-->
    <strong><label for="role">Role</label></strong>
    <select multiple class="custom-select w-100"
            size="2" id="role" name="role">
        <option
                th:each="role : ${roles}"
                th:text="${role.getName()}"
                th:value="${role.name}">
        </option>
    </select>

    <input type="submit" value="Create User">
</form>
</body>
</html>

